.table-left-names {
  background-color: #ffffff;

}


.preview-table {
  border-spacing: 5px;
  border-collapse: separate;
}


.preview-th {
  border-radius: 5px;
}

.preview-td {
  border-radius: 5px;
}
