table {
  border-spacing: 5px;
  border-collapse: separate;
}

.table-left-names {
  background-color: #ffffff;

}

th {
  border-radius: 5px;
}

td {
  border-radius: 5px;
}

blockquote {
  background: #ffffff;
  border-left: 4px solid #37394f;
}